affine==2.3.1
asttokens==2.0.8
async-generator==1.10
attrs==22.1.0
backcall==0.2.0
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.5
contextily==1.2.0
contourpy==1.0.5
cycler==0.11.0
debugpy==1.6.3
decorator==5.1.1
entrypoints==0.4
exceptiongroup==1.0.0rc9
executing==1.1.1
Fiona @ file:///C:/Users/elvin/Downloads/GDAL%20Dependencies/Fiona-1.8.21-cp310-cp310-win_amd64.whl
fonttools==4.37.4
GDAL @ file:///C:/Users/elvin/Downloads/GDAL%20Dependencies/GDAL-3.4.3-cp310-cp310-win_amd64.whl
geographiclib==1.52
geopandas==0.11.1
geopy==2.2.0
google-search-results==2.4.1
h11==0.14.0
idna==3.4
ipykernel==6.16.0
ipython==8.5.0
jedi==0.18.1
joblib==1.2.0
jupyter_client==7.4.2
jupyter_core==4.11.2
kiwisolver==1.4.4
matplotlib==3.6.1
matplotlib-inline==0.1.6
mercantile==1.2.1
munch==2.5.0
nest-asyncio==1.5.6
numpy==1.23.4
outcome==1.2.0
packaging==21.3
pandas==1.5.0
parso==0.8.3
pickleshare==0.7.5
Pillow==9.2.0
prompt-toolkit==3.0.31
psutil==5.9.2
pure-eval==0.2.2
pycparser==2.21
Pygments==2.13.0
pyparsing==3.0.9
pyproj @ file:///C:/Users/elvin/Downloads/GDAL%20Dependencies/pyproj-3.3.1-cp310-cp310-win_amd64.whl
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2022.5
pywin32==304
pyzmq==24.0.1
rasterio==1.3.2
requests==2.28.1
selenium==4.5.0
Shapely @ file:///C:/Users/elvin/Downloads/GDAL%20Dependencies/Shapely-1.8.2-cp310-cp310-win_amd64.whl
six==1.16.0
sniffio==1.3.0
snuggs==1.4.7
sortedcontainers==2.4.0
stack-data==0.5.1
tornado==6.2
traitlets==5.5.0
trio==0.22.0
trio-websocket==0.9.2
urllib3==1.26.12
wcwidth==0.2.5
wsproto==1.2.0
xyzservices==2022.9.0
